* {
	color: #f5f5f5
}

body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	background-color: #050505;
	font-weight: 700;
}

/* Por favor não alterar essa parte, o root é toda a página. */
#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	align-self: center;
}

header {
	text-align: center;
	padding: 5px 0;
	letter-spacing: 5px;
	transition: 300ms;

}

header:hover {
	font-size: 30px;
	transition: 300ms;
}

ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

li {
	background-color: #070707;
	padding: 20px;
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	transition: 300ms ease-in-out;

}

li:hover {
	box-shadow: 0 0 9px #f3f3f3;
	transition: 300ms ease-in-out;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: #101010;
	color: white;
	cursor: pointer;
	transition: 300ms;
}

button:hover {
	background-color: #050505;
	box-shadow: 0px 0 8px #f3f3f3;
	opacity: 100%;
	transition: 300ms;
}
