body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-weight: 700;
}

/* Por favor não alterar essa parte, o root é toda a página. */
#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

header {
	text-align: center;
	padding: 5px 0;
}

section {
	padding: 10px 0;
}

ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

li {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
li:hover {
  box-shadow: 0 0 4px #101010;
  transition: 200ms ease-in-out;
}

button {
	margin-right: 10px;
	padding: 10px 20px;
	border: none;
	background-color: #101010;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #050505;
	box-shadow: 0px 0 3px #101010;
	opacity: 100%;
}
