.section-div {
	align-self: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
	align-content: center;
}

.active-button {
	border-width: 1px;
	border-style: solid;
	border-color: #505050;
	border-radius: 5px;
}

.inactive-button {
	border-radius: 5px;
	opacity: 80%;
}

.active-button.ruby {
  color: red;
}
.active-button.JavaScript {
  color: yellow;
}

.active-button.Python {
  color: #4B8BBE
}
.active-button.Go {
  color: #5dc9e2;
}

.active-button.Java {
  color: #3c74b4;
}

.active-button.Nix {
  color: #405484;
}

.active-button.Todos {
  color: #8a0e66;
}
